---
layout: default
---
<div class="heading" id="toc">
  <h2>目次</h2>
</div>
<div class="section toc">
  <div class="col">
    <h4><a href="#html">HTML</a></h4>
    <ul>
      <li><a href="#html-syntax">HTMLシンタックス</a></li>
      <li><a href="#html-doctype">HTML5 doctype</a></li>
      <li><a href="#html-lang">lang属性</a></li>
      <li><a href="#html-encoding">文字エンコーディング</a></li>
      <li><a href="#html-ie-compatibility-mode">Internet Explorerの互換モード</a></li>
      <li><a href="#html-style-script">CSSとJavaScriptのインクルード</a></li>
      <li><a href="#html-practicality">潔癖さより実用性</a></li>
      <li><a href="#html-attribute-order">属性の順序</a></li>
      <li><a href="#html-boolean-attributes">ブーリアン型の属性値</a></li>
      <li><a href="#html-reducing-markup">マークアップの削減</a></li>
      <li><a href="#html-javascript">JavaScriptによるマークアップ</a></li>
    </ul>
  </div>
  <div class="col">
    <h4><a href="#css">CSS</a></h4>
    <ul>
      <li><a href="#css-syntax">CSSシンタックス</a></li>
      <li><a href="#css-declaration-order">宣言の順序</a></li>
      <li><a href="#css-import">@importを使わない</a></li>
      <li><a href="#css-media-queries">Media queryの記述場所</a></li>
      <li><a href="#css-prefixed-properties">プリフィックスされたプロパティ</a></li>
      <li><a href="#css-single-declarations">1行だけの宣言</a></li>
      <li><a href="#css-shorthand">省略する記述</a></li>
      <li><a href="#css-nesting">LessとSassでのネスト</a></li>
      <li><a href="#css-comments">コメント</a></li>
      <li><a href="#css-classes">クラス</a></li>
      <li><a href="#css-selectors">セレクタ</a></li>
      <li><a href="#css-organization">整理</a></li>
    </ul>
  </div>
</div>


<div class="section" id="golden-rule">
  <div class="col">
    <h2>黄金のルール</h2>
    <p>どんな時も、合意されたガイドラインに従おう。それがこのガイドでも、あなた独自のものでも関係ない。もし間違いを見つけたら、それが大きなものでも小さなものでも指摘しよう。このガイドに対して、追記や協力をして頂ける方は<a href="https://github.com/kiaking/code-guide/issues/new">GitHubでイシューを開いて連絡してください</a>。</p>
  </div>
  <div class="col">
    <blockquote>
      <p>全てのコードはあたかも一人の人間が書いたように見えなければならない。どれだけの人が関与したかに関わらず。</p>
    </blockquote>
  </div>
</div>



<div class="heading" id="html">
  <h2>HTML</h2>
</div>

<div class="section" id="html-syntax">
  <div class="col">
    <h3>HTMLシンタックス</h3>
    <ul>
      <li>インデントには半角スペース2個分のソフトタブを使用すること。これが全ての環境で全く同じように見せる唯一の方法。</li>
      <li>ネストされた要素はかならず1段階だけインデント(半角スペース2個)すること。</li>
      <li>いつもダブルクォートを使うこと。属性値に対してシングルクォートを使わないこと。</li>
      <li>閉じタグの無い要素に対して、末尾のスラッシュは省く事。<a href="http://dev.w3.org/html5/spec-author-view/syntax.html#syntax-start-tag">HTML5仕様</a>に省略して良いと書いてある。</li>
      <li>省略できる閉じタグを省略しないこと。(例えば<code>&lt;/li&gt;</code>とか<code>&lt;/body&gt;</code>)。</li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/syntax.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-doctype">
  <div class="col">
    <h3>HTML5 doctype</h3>
    <p>このシンプルな宣言で、可能な限り全てのブラウザーでスタンダードモードを使用しよう。</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/doctype.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-lang">
  <div class="col">
    <h3>lang要素</h3>
    <p>HTML5仕様より</p>
    <blockquote>
      <p>ウェブサイトの作成者は、サイトにふさわしいlang属性をhtml要素に対して指定することを推奨する。これはスクリーンリーダがどんな発音や方言を使ってサイトを読み上げるか、翻訳ツールがどのようなルールで翻訳するか理解するのを助けてくれる。</p>
    </blockquote>
    <p>さらに詳細は<a href="http://www.w3.org/html/wg/drafts/html/master/semantics.html#the-html-element">HTML5仕様</a>の<code>lang</code>属性を参照。</p>
    <p>言語コードの一覧は<a href="http://reference.sitepoint.com/html/lang-codes">こちらを参照</a>。</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/lang.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-ie-compatibility-mode">
  <div class="col">
    <h3>IE 互換モード</h3>
    <p>Internet Explorerは<code>&lt;meta&gt;</code>タグを使った互換モードをサポートしていて、IEのどのバージョンでサイトが表示されるべきかを指定できる。特に特別な理由がないのなら、<strong>edge mode</strong>を使って、最新バージョンを指定しておこう。</p>
    <p>さらに詳細は<a href="http://stackoverflow.com/questions/6771258/whats-the-difference-if-meta-http-equiv-x-ua-compatible-content-ie-edge-e">この素晴らしいStack Overflowの記事を参照</a>。</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/ie-compatibility-mode.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-encoding">
  <div class="col">
    <h3>文字エンコード</h3>
    <p>素早く、そして簡単に適切なレンダリングがされるよう文字エンコードを宣言しよう。こうすることで、HTMLコードの中で特殊文字を使わなくてもよくなる（普通はUTF-8）。</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/encoding.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-style-script">
  <div class="col">
    <h3>CSSとJavaScriptのインクルード</h3>
    <p>HTML5の仕様によると、通常はCSSやJavaScriptのロードに<code>text/css</code>や<code>text/javascript</code>といった<code>type</code>は必要ない。</p>
    <h4>HTML5仕様へのリンク</h4>
    <ul>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-link-element">Using link</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element">Using style</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element">Using script</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/style-script.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-practicality">
  <div class="col">
    <h3>潔癖さより実用性</h3>
    <p>HTML標準とセマンティクスを追求するべきだけど、実用性を犠牲にしないようにしよう。可能な限り最小限のマークアップを心がけよう。</p>
  </div>
</div>

<div class="section" id="html-attribute-order">
  <div class="col">
    <h3>属性の順序</h3>
    <p>HTMLの要素は可読性の向上のために、適切な順序で記述しよう。</p>
    <ul>
      <li><code>class</code></li>
      <li><code>id</code>, <code>name</code></li>
      <li><code>data-*</code></li>
      <li><code>src</code>, <code>for</code>, <code>type</code>, <code>href</code></li>
      <li><code>title</code>, <code>alt</code></li>
      <li><code>aria-*</code>, <code>role</code></li>
    </ul>
    <p>classは最も再利用されるコンポーネントなので最初にくる。idはより詳細で、最小限の使われ方（ページ内のブックマークとか）をするべきなので、二番目にくる。</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/attribute-order.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-boolean-attributes">
  <div class="col">
    <h3>ブーリアン型の属性</h3>
    <p>ブーリアン型の属性は値を必要としない。XHTMLでは値を要求されるが、HTML5にそのような仕様はない。</p>
    <p>詳細は<a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/common-microsyntaxes.html#boolean-attributes">WhatWGのブーリアン型属性のセクションを参照</a>:</p>
    <blockquote>
      <p>ブーリアン型の属性値が存在する場合、それは真として評価される。もし存在しない場合は負として評価される。</p>
    </blockquote>
    <p>もしも属性に対して値を<em>記述しなければならない</em>のなら<strong>（必要ないはずだけど）</strong>下記のWhatWGのガイドラインを参照してみて:</p>
    <blockquote>
      <p>もしも属性値が存在するなら、その値は空の文字列か、属性と同じ名前にして、末尾にスペースを含めないこと。</p>
    </blockquote>
    <p><strong>簡潔に言えば、値を記述しないこと。</strong></p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/boolean-attributes.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-reducing-markup">
  <div class="col">
    <h3>マークアップの削減</h3>
    <p>可能な限り、不要な親要素を作らないこと。多くの場合でそのためには繰り返しとリファクタリングが必要になるけど、コードを削減できる。次の例を見てみよう:</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/reducing-markup.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-javascript">
  <div class="col">
    <h3>JavaScriptによるマークアップ</h3>
    <p>JavaScriptのファイルの中にマークアップを記述するのは、可読性を低下させ、検索し辛く、編集し難くする上に、パフォーマンスが劣化する。可能な限り回避しよう。</p>
  </div>
</div>

<div class="heading" id="css">
  <h2>CSS</h2>
</div>

<div class="section" id="css-syntax">
  <div class="col">
    <h3>CSSシンタックス</h3>
    <ul>
      <li>インデントには半角スペース2個分のソフトタブを使用すること。これが全ての環境で全く同じように見せる唯一の方法。</li>
      <li>セレクタをグループ化するとき、1行毎に1つのセレクタを記述すること。</li>
      <li>可読性のために、開き波括弧の前に1つの半角スペースを入れること。</li>
      <li>閉じ波括弧は新しい行に記述すること。</li>
      <li><code>:</code>のあとに1つの半角スペースを入れること。</li>
      <li>各宣言は1行毎に記述すること。エラーがより的確に表示されるようになる。</li>
      <li>全ての宣言をセミコロンで終わらせよう。最後の宣言についてセミコロンは省略できるけど、省略しない方がエラーが起き難い。</li>
      <li>コンマ区切りを使う値には、コンマの後に半角スペースを1ついれること（例: <code>box-shadow</code>）。</li>
      <li><code>rgb()</code>、 <code>rgba()</code>、 <code>hsl()</code>、 <code>hsla()</code>、 <code>rect()</code>の値については、コンマの後にスペースを入れないこと。これは色の値（コンマ無し）とプロパティの値（コンマ有り）の違いを簡単に表してくれる。</li>
      <li>小数点以下の値を指定する時、1の位が0なら省略しよう（例: <code>0.5</code>ではなく<code>.5</code>。<code>-0.5px</code>ではなく<code>-.5px</code>）。</li>
      <li>hex型の値は全て小文字で指定すること。例: <code>#fff</code>。小文字は大文字よりもユニークな形をしているから、ぱっと見で分かりやすい。</li>
      <li>可能な場合は省略形のhex型の値を使うこと。例: <code>#ffffff</code>ではなく<code>#fff</code>。</li>
      <li>セレクタの値はクォートすること。例: <code>input[type="text"]</code>。<a href="http://mathiasbynens.be/notes/unquoted-attribute-values#css">これらは限られたものだけ省略できる</a>。統一感のためにも重要だ。</li>
      <li>0の値には単位を指定しないこと。例: <code>margin: 0px;</code>ではなく<code>margin: 0;</code>。</li>
    </ul>
    <p>ここでの用語に質問がある？Wikipediaの<a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets#Syntax">カスケードスタイルシートのシンタックスセクション</a>を参照。</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/syntax.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-declaration-order">
  <div class="col">
    <h3>宣言の順序</h3>
    <p>関連するプロパティは下記の順序でグルーピングすること。</p>
    <ol>
      <li>Positioning（位置関係）</li>
      <li>Box model（ボックスモデル）</li>
      <li>Typographic（フォント関係）</li>
      <li>Visual（見た目）</li>
    </ol>
    <p>位置関係は場合によって要素を通常のフローから外してボックスモデルを上書きすることもあるので最初にくる。ボックスモデルは要素の大きさや位置を決定するのでその次にくる。</p>
    <p>その他全ては<em>要素の中</em>のことだったり、位置やボックスモデルに関係しないので最後にくる。</p>
    <p>全順序のリストについては<a href="http://twitter.github.com/recess">Recess</a>を参照。</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/declaration-order.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-import">
  <div class="col">
    <h3><code>@import</code>を使わない</h3>
    <p><code>&lt;link&gt;</code>に比べると、<code>@import</code>は遅く、ページリクエストが追加され、予期しない問題を招く。代替の手法を活用しよう。</p>
    <ul>
      <li>複数の<code>&lt;link&gt;</code>要素を使う</li>
      <li>SassやLessといったプリプロセッサーを使ってCSSを一つのファイルにコンパイルする</li>
      <li>RailsやJekyllといったフレームワークの機能を使ってCSSファイルを結合する</li>
    </ul>
    <p>さらに詳細は<a href="http://www.stevesouders.com/blog/2009/04/09/dont-use-import/">Steve Soundersのこの記事を参照</a>。</p>
  </div>
  <div class="col">
    {% highlight html %}{% include css/import.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-media-queries">
  <div class="col">
    <h3>Media queryの記述場所</h3>
    <p>可能な限り、media queryはそれが関係する要素の近くに記述すること。別のファイルにまとめたり、ファイルの最後にまとめたりしないこと。そうすると将来的に誰かが見落とす可能性が高くなるだけだ。</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/media-queries.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-prefixed-properties">
  <div class="col">
    <h3>プリフィックスされたプロパティ</h3>
    <p>ベンダープリフィックスを付与する時は、値が揃う位置までインデントして揃えること。こうする事で、複数行の編集が容易になる。</p>
    <p>Textmateなら、<strong>Text &rarr; Edit Each Line in Selection</strong> (&#8963;&#8984;A)が使える。Sublime Text 2なら、<strong>Selection &rarr; Add Previous Line</strong> (&#8963;&#8679;&uarr;)と<strong>Selection &rarr;  Add Next Line</strong> (&#8963;&#8679;&darr;)が使える。</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/prefixed-properties.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-single-declarations">
  <div class="col">
    <h3>1行だけの宣言</h3>
    <p>もし宣言する要素が<strong>1つだけ</strong>なら、1行にまとめることを検討しよう。より見やすく、編集しやすくなる。複数の宣言があるなら、必ず複数行に分けて記述しよう。</p>
    <p>ここでのキーポイントはエラーの発見しやすさにある。例えばCSSバリデータが183行目にエラーがあると報告してきた場合、宣言が1つだけなら間違えようがないけど、複数の宣言がある場合、それらを複数行に分けておくことは、あなたが正気を保つために必要だ。</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/single-declarations.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-shorthand">
  <div class="col">
    <h3>省略する記述</h3>
    <p>省略形の宣言は、全ての値を設定する場合のみに留めること。一般的な省略形の宣言は:</p>
    <ul>
      <li><code>padding</code></li>
      <li><code>margin</code></li>
      <li><code>font</code></li>
      <li><code>background</code></li>
      <li><code>border</code></li>
      <li><code>border-radius</code></li>
    </ul>
    <p>多くの場合、全ての値を設定する必要はない。例えばHTMLのヘッダーはほとんどの場合上下のマージンしか必要としないから、上書きする場合もその二つだけを上書きすれば済む。過度な省略形の活用は、よりしょぼいコードと予期しない副作用を生み出すことが多い。</p>
    <p>Mozillaの開発者ネットワークに素晴らしい記事がある。<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties">省略形のプロパティ</a>はその記法と挙動に明るくない人にとって良い参考になる。</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/shorthand.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-nesting">
  <div class="col">
    <h3>LessとSassでのネスト</h3>
    <p>必要ないネストは避けること。ネストできるからといって、ネストしなければいけないことはない。親スタイルのスコープに複数の要素を含めなければいけない場合にだけネストしよう。</p>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/nesting.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-comments">
  <div class="col">
    <h3>コメント</h3>
    <p>コードは人によって書かれ、メンテされる。コードは必ず説明的で、良くコメントが書かれ、人にとって分かりやすいものにしよう。良いコメントはコードの内容や目的を表す。単純にコンポーネントやクラス名を複製するだけにならないようにしよう。C</p>
    <p>長いコメントは必ず文章として書き、一般的なフレーズは簡潔に記述しよう。</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-classes">
  <div class="col">
    <h3>クラス名</h3>
    <ul>
      <li>クラス名は小文字で、ハイフンを使おう（アンダースコアやキャメルケースではなく）。ハイフンは関係するクラスを分ける目的で使用する（例: <code>.btn</code>と<code>.btn-danger</code>）。</li>
      <li>過度な省略は避けよう。例えば<em>button</em>に対して<code>.btn</code>は分かりやすいけど、<code>.s</code>はなんの意味も無い。</li>
      <li>クラス名は可能な限り短く、簡潔にすること。</li>
      <li>意味のある名前にすること。見た目ではなく、機能や目的を意味する名前をつけよう。</li>
      <li>最も近い親要素やベースの要素をベースにプリフィックスすること。</li>
      <li>スタイルではなく、挙動を制御するためのクラスには<code>.js-*</code>をつけること。そしてこのクラスはスタイル目的には使用しないこと。</li>
    </ul>
    <p>これらルールはSassやLessの変数名を考える時にも有用だ。</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/class-names.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-selectors">
  <div class="col">
    <h3>セレクタ</h3>
    <ul>
      <li>レンダリングのパフォーマンスのために、汎用なタグよりもクラスを使用しよう。</li>
      <li>頻繁に登場するコンポーネントには、複数の属性を指定するセレクタは使わないようにしよう（例: <code>[class^="..."]</code>）。ブラウザのパフォーマンスが落ちる原因になる。</li>
      <li>セレクタは短く、3つ以上のセレクタを指定しないように努力しよう。</li>
      <li><strong>必要な場合のみ</strong>、最も近い親要素のスコープに含めよう（プリフィックスされたクラスを使用しない場合）。</li>
    </ul>
    <p>参考情報:</p>
    <ul>
      <li><a href="http://markdotto.com/2012/02/16/scope-css-classes-with-prefixes/">プリフィックスを使ってCSSのスコープを定義する</a></li>
      <li><a href="http://markdotto.com/2012/03/02/stop-the-cascade/">カスケードをやめよう</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/selectors.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-organization">
  <div class="col">
    <h3>整理</h3>
    <ul>
      <li>コードはコンポーネントベースで整理しよう。</li>
      <li>統一感のあるコメントを使おう。</li>
      <li>大きなファイルには、可読性のために統一感のある空白を使おう。</li>
      <li>複数のCSSファイルがある場合、ページ単位ではなく、コンポーネント毎に分割しよう。ページは変更されるかもしれないし、コンポーネントが別のページに移動するかもしれない。</li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/organization-comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-editor-prefs">
  <div class="col">
    <h3>テキストエディターの設定</h3>
    <p>あなたのエディタには下記を設定しよう。不統一なコードや汚いdiffを防いでくれる。</p>
    <ul>
      <li>半角スペース2個のソフトタブを使用する。</li>
      <li>行末の空白を自動消去する。</li>
      <li>文字エンコーディングをUTF-8にする。</li>
      <li>新しい行を最後に追加する。</li>
    </ul>
    <p>これらの設定をあなたのプロジェクトの<code>.editorconfig</code>に含めることを検討しよう。例えば<a href="https://github.com/twbs/bootstrap/blob/master/.editorconfig">Bootstrapのもの</a>を参考に。さらに詳細は<a href="http://editorconfig.org">EditorConfigについて参照</a>。</p>
  </div>
</div>
